.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
  gap: 1em; 
  padding-bottom: 22%; 
}

h1 {
  font-size: 12em; 
  color: #43e5f0; 
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 3em;
  color: #3ef0fd;
  font-family: 'Playfair Display', serif;
}


@media (max-width: 768px) {
  h1 {
      font-size: 7em;
  }
}


@media (max-width: 480px) {
  h1 {
      font-size: 5em; 
  }
}
